html{font-family: sans-serif;background:#f8f8f8;}
body{padding: 20px 100px 100px;border:10px solid #42b983;outline:10px solid #35495e;box-sizing: border-box;color: #34495e}
#app input{
	padding: 10px;
	font-size: 18px;
	width: 280px;
}
h3{
	border-bottom: 3px solid #42b983;
	margin-top: 50px;
	padding: 8px;
	text-transform: capitalize;
	background:rgba(143, 188, 143, 0.75);
}
#app3{
	width: 400px;
	height: 400px;
	margin:80px auto;
	background: ghostwhite;
	box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
	border: 1px solid lightgrey;
	display: grid;
	box-sizing: border-box;
}
#app3 p{
	margin: auto;
	width: 120px;
	height: 120px;
	border-radius: 100px;
	text-align: center;
	line-height: 120px;
	background: #efefef;
	box-shadow: inset 0 0 18px 0 rgba(0, 0, 0, 0.2);
	display: block;
	pointer-events: none;
}
.cvladi{
	margin: 0 30px 10px;
	font-size: 30px;
	font-weight: 500px;
}
.seen{
	padding: 20px 40px;
	background: yellow;
	display: inline-block;
	font-weight: 700;
}
li{line-height: 1.4;background: lightgreen;margin: 4px 0;padding: 4px 10px;}
.mine li{background: lightblue;}
input,button{
	margin: 5px;
	padding: 5px;
}
#app7 li{
	list-style-type: circle;
	background: coral;
}