<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Todos with Vue</title>
  <link rel="stylesheet" href="./css/style.css">
  <script src="https://unpkg.com/vue"></script>
</head>

<body>

  <div id="app">
    <div class="container">

      <h1>name: {{name}}</h1>

      <form @submit.prevent="addTodo">
        <input type="text" v-model="input" placeholder="what todo?">
        <button>add</button>
        <button type="button" @click="toggleModal">get hello</button>
        <p v-if="message" style="color: red">{{message}}</p>
      </form>

      <h3>todos</h3>

      <ol v-if="todos.length">
        <li v-for="todo in todos">
          <label>
            <input type="checkbox" v-model="todo.completed" /> {{todo.task}}</label>
        </li>
      </ol>
      <p v-else>No items</p>

      <h3>completed</h3>
      <ul style="color: #30b66c">
        <li v-for="todo in completedTodos">{{todo.task}}</li>
      </ul>

      <h3>active</h3>
      <ul style="color: orangered">
        <li v-for="todo in activeTodos">{{todo.task}}</li>
      </ul>

      <div class="overlay" v-if="showModal"></div>
      <div class="message" v-if="showModal">
        <h2>Hello friend</h2>
        <p>Here's your notification. Are you happy now?</p>
        <button class="close-btn" @click="toggleModal">&times;</button>
      </div>

    </div> <!-- container -->
  </div> <!-- #app -->

  <script src="./js/script.js"></script>

</body>
</html>