<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS Tutorial</title>
    <style>
    	*{box-sizing: border-box; }
  		body {padding: 50px 100px;font-family: Verdana, Geneva, sans-serif; }
		a{
			display: block;
			margin: 30px;
		}
		input{padding: 8px;}
    </style>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
	<div id="vue-app">
		<label for="name">Name
		<input type="text" id="name" v-model="name">
		<span>{{name}}</span>
		</label>
		<label for="age">Age
		<input type="text" id="age" v-model="age">
		</label>
		<span>{{age}}</span>
	</div>


    <script src="script.js"></script>
</body>
</html>