<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Composing with Components</title>
	<link rel="stylesheet" href="css/some.css">
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

<div id="vue-app">
	<h3>{{text}}</h3>
	<ol>
		<li v-for="(bimp, key,index) in arr" >key is {{key}} value is {{bimp}}, index is {{index}}</li>
	</ol>
</div>

<div id="app-17">
<h3>component</h3>
  <ol>
    <!--
      Now we provide each todo-item with the todo object
      it's representing, so that its content can be dynamic.
      We also need to provide each component with a "key",
      which will be explained later.
    -->
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id">
    </todo-item>
  </ol>
</div>

<script src="vue3.js"></script>
</body>
</html>